html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0%; 
}
.principal{
    display: flex;  
    flex-direction: column;
    height: 100%;
    width: 100%;
 
}
    .header{
height: 10%;
display: flex;
justify-content: flex-end;
background-color: #caa052;

}
.Main{
    height:80%;
   display: flex;
flex-direction: row;

}
.section1{
   width: 33.33%;
    background-color: black;
}
.section2{
    width: 33.33%;
    background-color: blue;
}
.section3{
    width: 33.33%;
    background-color: blanchedalmond;
}
.footer{
    height: 10%;

    background-color: aqua;
 
}